header {

    min-height: 10vh;
    background-color: grey;

}

header ul {

    float: right;
    margin-top: 4%;

}

header li{

    align-content: center;
    display: inline-block;
    margin-right: 10vw;

}

header img {

    height: 10vw;
    min-height: 10vh;
    margin-top: 10px;
    margin-left: 10px;

}

header a {

    color: yellow ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;

}

main {

    min-height: 20vw;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: grey;
    border: 2px solid grey;

}

/* main a{

  color: yellow ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;

} */

h1 {

    color: yellow ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    margin-top: -3px;
    /* float: left; */

}

p {

    color: yellow ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vw;
    margin-top: -5px;
    line-height: 1.9;
    /* float: left; */


}

footer {

    background-color: grey;
    min-height: 10vh;

}

footer a{

    color: yellow ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    float: left;
    margin-top: 30px;

}

footer img {

    float:center;
    margin-left: 23vw;
    height: 10vw;
    margin-top: -1vw;

}

.contact {

    color: yellow ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;

}
